<div>
    <h1>Productos actuales en la Base de Datos</h1>
    {{#if isAdmin}}
    {{#each products}}
    <div>
        <p> Id: {{this.id}} || Title: {{this.title}} || Description: {{this.description}} || Price: {{this.price}} || Code:
            {{this.code}} || Stock:{{this.stock}} || Image: {{this.thumbnail}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No tienes permisos para ver la lista de productos</p>
    {{/if}}
</div>
<script src="/virtual/js/home.js"></script>