<div>
    <h1>Productos en Tiempo Real (Socket_io)</h1>
    <hr>
    <div>
        <h1>Registro de Productos</h1>
        <form onsubmit="return enviaData(this)" class="form">
            <label>Title</label>
            <input name="title" id="title">
            <label>Description</label>
            <input name="description" id="description">
            <label>Price</label>
            <input type="number " name="price" id="price">
            <label>Code</label>
            <input name="code" id="code">
            <label>Stock</label>
            <input type="number" name="stock" id="stock">
            <label>Thumbnail</label>
            <input type="file" name="thumbnail" id="thumbnail"><br>
            <button type="submit">Crear</button>
        </form>
    </div>
    <hr>

    <div>
        <ul id="productsLogs"></ul>
    </div>

</div>
<script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js "></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/realtimeproducts.js"></script>

{{!-- <div>
    <h1>Productos en Tiempo Real</h1>
    {{#if isAdmin}}
    {{#each products}}
    <div>
        <p> Id: {{this.id}} || Title: {{this.title}} || Description: {{this.description}} || Price: {{this.price}} ||
            Code: {{this.code}} || Stock:{{this.stock}} || Image: {{this.thumbnail}}</p>
    </div>
    {{/each}}

    <div>
        <p id="productsLog"></p>
    </div>


    {{else}}
    <p>No tienes permisos para ver la lista de productos</p>
    {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/virtual/js/realtimeproducts.js"></script> --}}